/*Generale*/
html {
    width: 100vw;
    height: 100vh;
    font-size: 26px;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: medium;
    background-color: #A1DAEC;
    color: black;
    list-style-type: disc;
    overflow-x: hidden;
    overflow-y: auto;
}

/*intro*/
.pop-up {
    display: none;
    background-color: black;
    color: #fcfcfc;
    position: fixed;
    /* top: 50%;
    left: 50%; */
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 90vh;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1001;
    overflow: auto;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/*nav*/
nav .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #A1DAEC;
    color: black;
    padding: 10px;
    position: absolute;
    align-self: top;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 20px; 
}

nav .logo {
    display: block;
    margin: 0;
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
}

h1 {
    font-size: 26px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: black;
    text-align: left;
}

/*generale*/
body {
    width: 100vw;
    height: auto;
    padding-top: 350px;
    padding-left:20px;
}

/*Sezioni*/
h2 {
    font-size: 26px;
    font-weight: medium;
}

.title {
    width: 100%;
    background-color: black 0.5;
    margin: 20px 0;
    padding: 0;
    cursor: pointer;
}

ul {
    display: none;
    list-style-type: none;
    margin: 0;
}

ul ul {
    padding: 0px;
}

li {
    padding-bottom: 10px;
    font-size: 20px;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
}

audio {
    /* background-color: pink; */
    border-radius: 0;
    padding: 0;
    margin: 0;
    border: red;
}

.container .column {
    margin-right: 10px;
}

.description{
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
